/* styles.css */
@keyframes bouncingAnimation {
    0%, 100% {
      transform: translateY(-100%);
    }
    50% {
      transform: translateY(100%);
    }
  }
  
  .bouncing-container {
    animation: bouncingAnimation 3s linear infinite;
  }
  